<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @familium.name %>
</p>

<p>
  <b>Image:</b>
  <%= @familium.image %>
</p>


<%= link_to 'Edit', edit_familium_path(@familium) %> |
<%= link_to 'Back', familia_path %>
