<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :cod_barras %><br />
    <%= f.number_field :cod_barras %>
  </div>
  <div class="field">
    <%= f.label :descripcion_corta %><br />
    <%= f.text_field :descripcion_corta %>
  </div>
  <div class="field">
    <%= f.label :descripcion_larga %><br />
    <%= f.text_area :descripcion_larga %>
  </div>
  <div class="field">
    <%= f.label :familia %><br />
    <%= f.text_field :familia %>
  </div>
  <div class="field">
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :dto_promocion %><br />
    <%= f.number_field :dto_promocion %>
  </div>
  <div class="field">
    <%= f.label :ud_caja %><br />
    <%= f.number_field :ud_caja %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
